extends templates/base.pug

block vars

block head
	
block body
	.l-wrap
		.l-wrap.l-wrap--content
			.l-row
				each p in context.pokego
					.l-row__item.l-row__item--2
						.c-pokemon.js-pokemon(data-name=p.Name data-id=p.Number)
							.c-pokemon__icon
							.c-pokemon__thumb(style="background-image: url('assets/img/pokemon/" + parseInt(p.Number) + ".jpg');")
	.c-hover.js-hover
		.c-hover__sprite.js-hover-sprite
		.c-hover__name.js-hover-name
	
	div(style="display: none")
		each p in context.pokego
			div(style="background-image: url('assets/img/sprite/" + p.Number + "MS.png');")
