<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Pokedex</title>
	<meta name="description" content="Mackey Pokedex Images" />
	<meta name="robots" content="noindex,nofollow" />
	<meta name="googlebot" content="noindex,nofollow" />
	<link rel="canonical" href="http://kegh.am/pokedex/templates/base/" />
	<!--Open Graph-->
	<meta property="og:url" content="http://kegh.am/pokedex/templates/base/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Pokedex" />
	<meta property="og:description" content="Mackey Pokedex Images" />
	<meta property="og:site_name" content="Base" />
	<meta property="og:locale" content="en_US" />
	<link rel="icon" href="http://kegh.am/pokedex/assets/img/favicon.png">
	<link href="/assets/css/main.min.css" rel="stylesheet" type="text/css" inline="inline" />
	<link href="http://kegh.am/pokedex/assets/css/main.min.css?v=1.0" rel="stylesheet" type="text/css" />
</head>

<body>
	<!--Scripts-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://kegh.am/pokedex/assets/js/main.min.js?v=1.0"></script>
</body>

</html>