include ../toolkit/_toolkit.pug

-
	base.index = true;
	base.ver = '?v=1.0';
	base.url = 'http://kegh.am/pokedex';
	base.name = 'Pokedex';
	base.title = 'Pokedex';
	base.description = 'Mackey Pokedex Images';
	
	if(base.dev == true) {
		base.url = 'http://localhost:3000';
	}

block vars

doctype
html(lang="en")
	head
		+head()

		link(rel="icon" href=base.url + "/assets/img/favicon.png")
		
		+inlineCss('/assets/css/main.min.css')
		+css(base.url + '/assets/css/main.min.css' + base.ver)
		
		block head
	body
		block body
		
		//Scripts
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src=base.url + '/assets/js/main.min.js' + base.ver)
		block scripts
