.c-hover {
	position: absolute;
	z-index: 500;

	opacity: 0;

	height: 50px;

	margin-top: 10px;
	margin-left: 10px;

	padding-right: 20px;
	padding-left: 50px;

	border-radius: 40px;

	line-height: 50px;

	background-color: white;

	transition: opacity 0.25s ease;
	&[data-state="on"] {
		opacity: 1;
	}
	&__name {
		color: black;

		font-family: 'pokemon-font', monospace;
		font-size: 8px;
		font-smooth: never;

		-webkit-font-smoothing: none;
	}
	&__sprite {
		position: absolute;
		top: 5px;
		left: 5px;

		width: 40px;
		height: 40px;

		border-radius: 100%;
		//background-color: m($color, grayLight);

		background-repeat: no-repeat;
		background-position: center;
	}
}
