/**********
Row
**********/

.l-row {
	$gutter: 20px;

	width: calc(100% + #{$gutter});

	margin-top: $gutter;

	@extend %cf;
	&__item {
		@include bp( 0, m($bp, small) ) {
			&--card {
				width: calc(50% - #{$gutter});
			}
		}
		@include bp( m($bp, small) ) {
			&--card {
				width: calc(33.33% - #{$gutter});
			}
		}
		@include bp( m($bp, mobile) ) {
			&--card {
				width: calc(25% - #{$gutter});
			}
		}
		@include bp( m($bp, tablet) ) {
			&--card {
				width: calc(20% - #{$gutter});
			}
		}
		@include bp( m($bp, desktop) ) {
			&--card {
				width: calc(16.66% - #{$gutter});
			}
		}

		float: left;

		margin-right: $gutter;
		margin-bottom: $gutter;
	}
}
