/**********
Row
**********/

.l-row {
	$gutter: 20px;

	width: calc(100% + #{$gutter});

	margin-top: $gutter;

	@extend %cf;
	&__item {
		float: left;

		margin-right: $gutter;
		margin-bottom: $gutter;

		@for $i from 1 through 12 {
			&--#{$i} {
				$width: floor($i / 12 * 100000) / 1000;

				width: calc( #{$width}% - #{$gutter} );
			}
		}
	}
}
